.container-details-venda{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 280px;;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
}
.container-details-venda h2{
    text-align: center;
    font-family: sans-serif;
}

.container-details-venda span{
    text-align: center;
}

.container-details-venda .span-pai span:nth-last-child(1){
    color: #0e8b0e;
    font-weight: bold;
}
.container-details-venda .span-pai span:nth-last-child(2){
    font-weight: bold;
    
}

.container-details-venda div{
    text-align: center;
}
.container-details-venda .span-pai{
    display: flex;
    justify-content: space-around;
}
